.background{
    background-image: url("../assets/images/background.svg");
}

.login{
    position: absolute;
}
.login-label{
    flex-direction: column;
    margin: 15px;
}

.login-label p{
    margin-left: -430px;
    margin-bottom: 2px;    
}

.login-label input{
    width: 500px;
    height: 30px;

    
    border-top: 0px none;
    border-right: 0px none;
    border-left: 0px none;
    border-bottom: 2px solid rgba(245, 241, 241, 0.96);
    transform: matrix(1, -0.01, 0.01, 1, 0, 0);

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.login button{
    justify-content: center;
    align-items: center;
    
    width: 276.21px;
    height: 30px;

    background: #3B5C81;
    border-radius: 10px;
    color: white;

    flex: none;
    order: 6;
    flex-grow: 0;
}