.login{
    position: absolute;
    background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(https://images.unsplash.com/photo-1576606970009-7ddc4229ced7?crop=entropy&cs=tinysrgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDl8fHdhbGxwYXBlciUyMEVVQXxlbnwwfHx8fDE2Nzc0MTc0NjY&ixlib=rb-4.0.3&q=80&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450);
    background-size: 150px;
    background-position-x: center;
    width: 1920px;
    height: 969px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login p{
    color: white;
}
.login-insert{
    width: 600px;
    height: 600px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-label{
    flex-direction: column;
    margin: 15px;
}

.login-label p{
    margin-left: 0px;
    margin-bottom: 2px;
    color:antiquewhite;  
}

.login-label input{
    width: 500px;
    height: 30px;
    background-color : #d1d1d100;
    border-top: 0px none;
    border-right: 0px none;
    border-left: 0px none;
    border-bottom: 2px solid rgba(245, 241, 241, 0.96);
}

.login button{
    justify-content: center;
    align-items: center;
    width: 276.21px;
    height: 30px;
    background: #3B5C81;
    border-radius: 10px;
    color: white;
    flex: none;
    order: 6;
    flex-grow: 0;
}